{% extends 'app01/layout.html' %}

{% block body %}

        <div class="highlight border" style="margin-top:20px">
        <h2 class="bd-content_title container"> 管理员列表 </h2>
                <div class="container" style="margin-bottom: 5px; margin-top:5px">
                    <a type="submit" href="/erp/admin_list/create_admin/" class="btn btn-primary btn-lg">新建管理员</a>
                </div>
                <div class="container">
                    <table class="table table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">管理员id</th>
                          <th scope="col">用户名</th>
                          <th scope="col">密码</th>
                          <th scope="col">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for item in data_list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.username }}</td>
                            <td>******</td>
                            <td>
                                <a type="submit" href="#" class="btn btn-success btn-sm">编辑</a>
                                <a type="submit" href="#" class="btn btn-danger btn-sm">删除</a>
                                <a type="submit" href="/erp/admin_list/{{ item.id }}/resetpwd_admin" class="btn btn-danger btn-sm">重置密码</a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
        </div>
{% endblock %}